
.fs { background: white; padding: 1em; margin: 1em; max-width: 600px; }
.fs > .bar { font-size: 20px; font-weight: bold; display: flex; padding: 0.25em 0em 0.75em; }
.fs > .bar .icon { margin-right: 0.25em; }
.file { background: rgba(0,0,0,0.1); margin-bottom: 3px; padding: 0.5em 0.5em; display: flex; }
.file > .icon { margin-right: 0.25em; }

.file-js > .bar, .file-js > .bar > .name { flex-grow: 1; display: flex; }
.file-js > .bar:hover { cursor: pointer; }
.dir { background: rgba(0,0,0,0.1); margin-bottom: 3px; }
.dir > .bar {padding: 0.5em 0.5em;display: flex;cursor: pointer;}
.dir > .bar > .name { flex-grow: 1; display: flex; }
.dir > .bar > .name  > .icon { margin-left: auto; }
.dir > .bar > .icon { margin-right: 0.25em; }
.dir > .children { padding: 0.25em 0.5em; }