a { color: #FFA858; line-height: 1.5; }

.squeeze { max-width: 1600px; margin: 0 auto; padding-left: 2vw; padding-right: 2vw;}
.break .squeeze { padding-left: 4vw; padding-right: 4vw; }


.btn.btn { background: #FFA858; color: white; font-weight: 600; padding: 0.5em 1.5em; border-radius: 0.25em;  cursor: pointer; text-decoration: none;  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); display: flex; align-items: center; justify-content: space-between;}
.btn .inner { padding-top: 1px; }
.btn-row { display: flex; gap: 1em; }
.btn.white { background: #fff; color: black; }

.rdb-heading h2 { 
    text-align: center;
    font-size: 2.4em; 
    margin-top: 0.3em; 
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2; 
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.rdb-heading { 
    /* margin-bottom: 4em;  */
}

.mobile .rdb-heading h2 { font-size: 2em; }

.columns { display: flex; gap: 2vw; }
.columns > * { flex: 1; }

.break .columns { display: block;}

.btn-right { display: flex; justify-content: flex-end; }


/*  HEADER  */
.header-wrap { position: sticky; top: 0; left: 0; right: 0; z-index: 99; }
.top-header { background: #fff; box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.1); }
.home .header-wrap { height: 0; margin-top: 5vw; margin-bottom: -5vw; }
.home .top-header { transition: background 0.3s; }
.top-header > .squeeze { gap: 1em; justify-content: space-between; display: flex;  align-items: center; }
.top-header .logo { background: url("/img/header_logo.png") no-repeat center / cover; width: 15em; height: 2.3em; margin-top: 0.2em; }


.top-nav { flex: 1; display: flex; justify-content: flex-end; align-items: center; height: 100%; gap: 1.4em; }
.top-nav .nav-item { padding: 0.5em 1em 0.2em; border-bottom: 3px solid transparent; align-content: center; font-weight: 600; text-transform:uppercase; height: 100%; }
.top-nav .nav-item:hover { border-bottom: 3px solid #FFA858; cursor: pointer; }
.top-nav .nav-item.btn { margin-left: 1em; border-radius: 0.25em; padding: 0.5em 1.6em 0.4em; line-height: 1; border: none;}
.nav-item { text-decoration: none; color: black; display: block; }
.nav-item.btn { color: white; }

.nav-item-home { display: none; }


.transparent-header .top-header { background: transparent; box-shadow: none; color: white; }

.transparent-header:not(.menu-open) .logo { background: url("/img/transparent_logo.png") no-repeat center / cover; width:20em; height: 3em; }
.break.transparent-header:not(.menu-open) .logo { width: 15em; height: 2.3em; }
.transparent-header:not(.menu-open) .nav-item { color: white; text-shadow: 0px 2px 4px black; }
.transparent-header:not(.menu-open) .nav-item.btn { text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }

.break .top-nav { display: none; }

.menu-btns { display: none; }
.break .menu-btns { display: block; }
.hamburger { cursor: pointer; display: none; }
.ex { cursor: pointer; display: none;}
.hamburger svg, .ex svg { width: 22px;display:block; }
.break:not(.menu-open) .hamburger { display: block; }
.break.menu-open .ex { display: block; color: black; }

.menu-open .top-header { overflow-y: scroll; background: white; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 99;}
body.menu-open { overflow-y: hidden; }
.menu-open .top-nav { display: flex; order: 9; flex-direction: column; flex-basis: 100%; }
.menu-open .top-header > .squeeze { flex-wrap: wrap; }
.menu-open .nav-item-home { display: block; }

@media (max-width: 340px){
    .top-header .logo { width: 65vw; height: 10vw; }
}


/*  PROJECT PREVIEW  */
.project-preview { display: block; height: 20em; 
     background-size: cover; background-position: center; position: relative; border-radius: 0.25em; border-radius: 0.25em; overflow: hidden; margin-bottom: 2vw; filter: grayscale(0.5); box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.2); transition: transform 0.3s ease; }
.break .project-preview { margin-bottom: 4vw; }


.project-preview:hover { transform: scale(1.030); }
.project-preview h3 { position: absolute; color: white; padding: 1em 1.5em; bottom: 0; left: 0; right: 0; 
    font-size: 1.4em; 
    margin: 0; text-shadow: 0 2px 3px rgba(0,0,0,0.5); z-index: 2;}

.project-preview::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 80% 20%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1; /* Ensures the gradient is above the background but below the text */
  pointer-events: none; /* Ensures it doesn't block clicks on the link */
}

@media (max-width: 640px) {
    .project-preview { 
        height: 15em;
    }
    .project-preview h3 { padding: 0.5em 1em; }
}


/*  PAGE  */
.banner { justify-content: center; height: 300px; display: flex; padding: 2em; align-items: center; flex-direction: column;}
.project-page .banner { filter: grayscale(0.5);}
.banner h1 { color: white; text-transform: uppercase; font-weight: 900; text-shadow: 0 3px 3px #000000a1; 
    /* font-size: 2.6em;  */
    margin: 0; margin-top: 0.5em; text-align: center; line-height: 1.2; }

main.content { min-height: 500px; background: white; margin-top: -3em; margin-bottom: 5em; padding: 6vw;  }
main.content .project-preview { margin-bottom: 6vw;}
@media (max-width: 640px) {
    .main-wrap.squeeze { padding: 0; }
}


/*  FOOTER  */
.footer { background: #373737; padding: clamp(2em, 4%, 4%) 0; color: white;}
.break .footer { padding: clamp(4em, 4%, 4%) 0; }
.break .footer { text-align: center; }
.footer .squeeze { display: flex; gap: 4vw; flex-wrap: wrap; }
.break .footer .squeeze { gap: 7vw; }
.footer .squeeze > * { flex: 1; min-width: 200px;} 
.footer-logo { display: block; background: url("/img/footer-logo.png") no-repeat center / contain; height: 4.5em; width: 11em;  }
.break .footer-logo { margin: 0 auto; }
.break .footer-logo-column { flex-basis: 100% }
.footer-contact.footer-contact { display: flex; flex-direction: column; align-items: end; min-width: 200px; } /* specificity for min-width */

.break .footer-contact { align-items: center; text-align: center; flex-basis: 100%; }


.footer a { display: block; padding: 0.5em 0; text-decoration: none; color: white; }
.footer a.btn { padding: 0.35em 1.2em; border-radius: 0.25em; background: #FFA858; color: white; display: flex; 
    /* font-size: 0.85em;  */
}
.footer h3 { margin: 0; }
.footer a:hover { text-decoration: underline; }
.footer a.btn:hover { text-decoration: none; }
.footer-contact h3 { margin-bottom: 1em; }